* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --mapWidth: 90%;
  --mapHeight: 85vh;
  --toolsHeight: 5vh;
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(35, 66, 112);
}

#map {
  position: absolute;
  left: 50%;
  top: 50%;
  /* do zmiany przy innych rozdzielczościach */
  transform: translate(-50%, calc(-50% - var(--toolsHeight)));
  width: var(--mapWidth);
  height: var(--mapHeight);
  border: 4px solid black;
  border-radius: 5%;
  overflow: hidden;
  z-index: 2;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;

  background-color: #fff;
  z-index: 15;
}

.loader div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  overflow: hidden;

  display: flex;
  /* flex-wrap: wrap; */
}

.loader div img {
  position: absolute;
  left: 150%;
  top: 50%;

  animation: loaderSpinner infinite;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  /* margin: 25px; */

  /* margin-right: 100px; */

}

@keyframes loaderSpinner {
  0% {
    left: 150%;
  }

  2% {
    left: 50%;
  }

  9.111% {
    left: 50%;
  }

  11.111% {
    left: -50%;
  }


  100% {

    left: -50%;
  }
}


.loader h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% + 150px));
  font-size: 1.5em;
}


.ol-attribution {
  position: absolute;
  bottom: 0%;
  left: 0%;
  padding: 10px 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  font-size: .7em;
}

.ol-attribution ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style-type: none;
}

.ol-attribution ul li {
  margin-right: 15px;
}

.ol-attribution button {
  display: none;
}

.ol-zoom {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.ol-zoom button,
.ol-rotate button {
  width: 30px;
  height: 30px;
  margin: 5px 10px;
  font-size: 1.5em;
  background-color: rgba(26, 41, 66, .7);
  color: white;
}


.tools {
  position: absolute;
  bottom: calc(100% - var(--mapHeight) - 2 * var(--toolsHeight));
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: flex-end;
  height: calc(2 * var(--toolsHeight));
  width: var(--mapWidth);
  background-color: #fff;
  border: 4px solid black;
  z-index: 1;
}


.tools-tools {
  width: 100%;
  display: flex;
  margin: 1vh 10px;
  height: calc(var(--toolsHeight))
}

.tools-tools * {
  align-items: center;
  height: 100%;
}

.tools-tools input {
  flex-grow: 2;
  padding-left: 10px;
  border: none;
  color: #999
}

.tools-tools input:focus {
  color: #000
}

.tools-tools button {
  width: 40px;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
}





/* forecast for city from query */
.city-forecast {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;


  background-color: #fff;
  z-index: 5;


  transition: .6s
}

.city-forecast.hidden {
  left: -200%;
}


.video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}


.weather-animation {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

}

.weather-cont {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.sunny-weather::after {
  display: block;
  position: absolute;
  content: '';
  right: 10%;
  top: 10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 15px white;
  animation: animateSun 15s infinite both;
}


@keyframes animateSun {
  0% {
    box-shadow: 0px 0px 40px 15px rgba(255, 255, 255, 0.4);

  }

  50% {
    box-shadow: 0px 0px 20px 500px rgba(233, 233, 115, .4);

  }

  100% {
    box-shadow: 0px 0px 40px 15px rgba(255, 255, 255, .4);

  }

}



.cloudy-weather-day img,
.cloudy-weather-night img,
.rain-weather img,
.storm-weather img {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  animation: cloudsMove 15s linear infinite;

}

#raindrop {
  width: auto;
  animation: none;
}

@keyframes cloudsMove {
  0% {
    left: 100%;
  }

  100% {
    left: -200%;
  }
}



/* .rain-weather img {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 200%;
  animation: rain 5s infinite;
} */

.rain-weather,
.storm-weather {
  background-image: url('../images/rain_lines.png');
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  animation: rain 1s infinite linear;

}



@keyframes rain {
  0% {
    /* top: -100%; */
    background-position: 0 0;
  }

  100% {
    /* top: 100%; */
    background-position: 0% 100%;

  }
}

.fog-weather div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  animation: fog 3s infinite linear both;
}

.fog-weather div img,
.snow-weather div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes fog {
  0% {
    /* top: -100%; */
    left: 0;
  }

  100% {
    /* top: 100%; */
    left: -100%;

  }
}

.snow-weather div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: snow 12s infinite linear both;
}

@keyframes snow {
  0% {
    /* top: -100%; */
    top: -100%;
  }

  100% {
    /* top: 100%; */
    top: 00%;

  }
}


.storm-weather::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  animation: lighting 3s linear infinite;
  opacity: 0;
}

@keyframes lighting {
  0% {
    opacity: 0
  }

  10% {
    opacity: 0
  }

  11% {
    opacity: 1
  }

  14% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  21% {
    opacity: 1
  }

  24% {
    opacity: 0
  }

  60% {
    opacity: 0
  }

  61% {
    opacity: 1
  }

  64% {
    opacity: 0
  }

  104% {
    opacity: 0
  }
}






.base-img {
  width: 100%;
  height: 100%;
}

.base-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}









.make-darker {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
}

.rest-of-forecast {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  overflow-y: scroll;

}


.city-name {
  margin-top: 10vh;
  text-align: center;
}

.coords {
  margin-top: 0px;
  text-align: center;
  font-size: .75em;
}

.forecast-value {
  margin: 20px auto;
  padding: 20px 0;
  width: 80%;
  /* background-color: rgba(255, 255, 255, .8); */
  /* border-radius: 30%; */
}

.forecast-city-main-info {
  display: flex;
  flex-wrap: wrap;
}

.weather-icon {
  width: 40%;

}

.weather-icon img {
  width: 150px;
  height: 150px;
}

.forecast-city-main-info-data {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: #fff
}

.forecast-city-main-info-data * {
  width: 100%;
}

.forecast-value * {
  text-align: center;
}

.parameters {
  margin: 10px 10%;
}

.parameters h4 {
  margin-bottom: 20px;
}

.parameters div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.parameters div span {
  display: flex;
  align-items: center;
  font-weight: 900;
}

.parameters div span svg {
  margin-left: 10px;
}

.parameters .time-of-measure {
  justify-content: center;
  font-size: .65em;
}



.close-icon {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 2.5em;
  z-index: 10;
  color: #fff
}

.close-icon-icon {
  color: #fff;

}

/* end of forecast */


.d5-day-forecast-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  z-index: 20;

  border: 2px solid white;

  color: white;
  background-color: transparent;
  outline: none;
}


.D5-forecast {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(35, 66, 112, .9);
  overflow: hidden;
  z-index: 7;
}

.chart-container {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow-y: scroll;
}

#myChart {
  margin: 0 auto;
  /* width: 100%; */
  /* width: calc(100px * 4); */
  /* width: calc(100px * 20); */

  /* height: 400px; */
  background-color: #fff;
  z-index: 300;
  overflow-y: scroll;
  border-radius: 10px;
}

.d5-forecast-name {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  width: 100%;
  line-height: 3;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #fff;
  text-align: center;
  color: rgb(35, 66, 112)
}



@media (orientation: landscape) {

  :root {
    --mapWidth: 60%;
    --mapHeight: 85vh;
    --toolsHeight: 5vh;
  }


  #map {
    left: 2.5%;
    top: 50%;
    /* do zmiany przy innych rozdzielczościach */
    transform: translate(0%, -50%);
  }

  .tools {
    position: absolute;
    bottom: auto;
    top: 50%;
    left: 65%;
    transform: translate(0, -50%);
    display: flex;
    align-items: flex-end;
    height: calc(2 * var(--toolsHeight));
    width: 32.5%;
    background-color: #fff;
    border: 4px solid black;
    z-index: 1;
  }




  .tools::before {
    display: block;
    position: absolute;
    content: 'Wyszukaj prognozę pogody';
    left: 0%;
    top: -100%;
    color: #fff
  }


  .tools-tools {
    align-items: center;
    margin: 0 0;
    height: 100%
  }

  .tools-tools button {
    font-size: 1em;
  }

  .rest-of-forecast {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .city-name,
  .coords,
  .forecast-value {
    width: 45%;
    margin-right: 15%;
  }

  .forecast-value {
    margin: 0 2.5%;
  }

  .parameters {
    position: absolute;
    left: 50%;
    width: 45%;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
    /* height: 70%; */

  }

  .parameters div {
    width: 100%;
  }

  .d5-day-forecast-button {
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
  }

  .D5-forecast .close-icon {
    top: 2.5%
  }

  .D5-forecast .close-icon-icon {
    color: #000
  }

  .d5-forecast-name {
    position: relative;
    left: auto;
    top: auto;
    transform: translate(0, 0)
  }

  .chart-container {
    position: relative;
    max-width: 85%;
  }


}


/* styles for tablets */


@media (orientation: portrait) and (min-width: 700px) {

  .city-name,
  .coords,
  .forecast-value,
  .parameters {
    margin: 0 auto;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 60%;
  }

  .city-name {
    margin: 100px auto 0;
  }

}


@media (min-width: 1024px) {
  :root {
    --mapWidth: 60%;
    --mapHeight: 85vh;
    --toolsHeight: 5vh;
  }

  .App {
    background-color: #fff;
    background-image: url(../images/Frame1.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 70% 100%;
    overflow: hidden;
  }

  /* #map {
    position: relative;
    transition: .3s;
    background-color: #000;
  }

  #map.forecast-open {
    top: 40%;
    width: 45%;
    height: 60vh;
  } */

  .tools {
    left: 50%;
  }

  .tools::before {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
  }

  #map {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100vh;
    transform: translate(0, 0);
    border: none;
    border-radius: 0;
    z-index: 10;
  }

  .city-forecast {
    left: 40%;

    width: 60%;

  }

  .city-forecast.hidden {
    left: 40%;
    transform: translateX(-100%)
  }


  .D5-forecast {
    position: fixed;
    left: 0;
    top: auto;
    bottom: 0%;
    width: 100%;
    height: 40%;
    /* max-height: 550px; */
    min-height: 500px;
    z-index: 50;
    background-color: #fff;
    overflow: hidden;
  }



  .D5-forecast .close-icon {
    top: 2.5%
  }

  .D5-forecast .close-icon-icon {
    color: #000
  }

  .d5-forecast-name {
    display: none;
  }

  .chart-container {
    position: relative;
    max-width: 85%;
    overflow: auto;
  }





}